.idea/
composer.phar
/vendor/
web/nbproject/private/
web/build/
web/nbbuild/
web/dist/
web/nbdist/
web/.nb-gradle/
/web/getDepot/nbproject/private/
/web/getDepot/build/
/web/nearestDepot/nbproject/private/
/web/nearestDepot/dist/
/web/nearestDepot/build/
.DS_Store
.folder

# C-Sharp exclusives
BusDepot/*.exe
BusDepot/BusDepot/*.exe
BusDepot/BusDepot/bin
BusDepot/BusDepot/obj
/nbproject/private/
Web Service/sms/nbproject/private/private.xml
Web Service/sms/nbproject/private/private.properties
Web Service/sms/build/classes/sms/Sms.class
Web Service/sms/build/built-jar.properties
nbproject/project.properties
nbproject/project.xml
/Web Service/nearestDepot/nbproject/private/