.idea/
composer.phar
/vendor/
web/nbproject/private/
web/build/
web/nbbuild/
web/dist/
web/nbdist/
web/.nb-gradle/
/web/getDepot/nbproject/private/
/web/getDepot/build/
/web/nearestDepot/nbproject/private/
/web/nearestDepot/dist/
.DS_Store
.folder